
<!DOCTYPE html>
<html lang="en">
	<head>
        <%-include('./inc/2head', { title: 'Chat' }) %>
       
	</head>
	<body>
		<%-include('./inc/guvenlinav')%>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
                            <%-include('./inc/kullanicilar', { users: users }) %>
					
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.ibb.co/RPSmFM6/your-image.jpg" alt="mesaj" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>serhat kurt</span>
								</div>
								<div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div>
							</div>
						</div>
						<div class="card-body">
								<div id="output"></div>
								<div id="feedback"></div>
							</div>

						<div class="card-footer">
							<div class="input-group">
								<div>
									<input type="text" id="message" placeholder="Mesaj">
									<button id="submitBtn">Gönder</button>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/models/chat.js" charset="UTF-8"></script>
	<script>$(document).ready(function(){
		$('#action_menu_btn').click(function(){
			$('.action_menu').toggle();
		});
	});</script>
	</body>
</html>