<!doctype html>
<html lang="en">
  <head>
    <%- include('./inc/head') %>
  </head>
  <body>
      
    <%- include('./inc/nav') %>
    <h1><%= mesaj.title %></h1>
    <p><%= mesaj.long %></p>
    
  </body>
</html>
